<h1>Users#index</h1>
<div class="user-wrapper">
  <% @users.each do |user|%>
    <div class="user-ind-wrapper">
      <figure>
        <img src="<%= user.photo %>" width="100px" height="auto" alt="<%= user.name %>">
      </figure>
      <div class="user-name-post">
        <div class="user-name"><%= link_to "#{user.name}", user %></div>
        <div class="user-post-counter">
        <div class="user-like">
          <small class="user-like-text"><%= "#{user.posts_counter}" %></small>
          <span class="user-like-text">Posts</span>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>

