@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/**  Users  **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  color: rgba(65, 65, 65, 0.719);
}

a {
  text-decoration: none;
  color: rgba(85, 171, 221, 0.719);
}

.user-ind-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin: 10px 20px;
  background-color: #f8f8f8;
  border-left: 3px solid rgb(245, 135, 135);
  padding: 10px 10px;
  border-radius: 10px;
}

.user-ind-wrapper figure img {
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.user-name-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 20px;
  width: 90%;
}

button a {
  color: #fff;
}

.user-name a {
  font: normal normal bolder 1.5em serif, Helvetica, Arial, sans-serif;
  align-self: flex-start;
  align-content: center;
  color: rgb(0, 0, 0);
}

.user-post-counter {
  align-self: flex-end;
}

.user-post-title {
  padding: 10px 0;
}

.user-post-title a {
  font: normal normal bolder 1.5em serif, Helvetica, Arial, sans-serif;
  padding: 10px 0;
  color: rgb(0, 0, 0);
}

.user-post-title-u {
  font: normal normal bolder 1.5em serif, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  padding: 10px 0;
}

.user-post-title-s h2 {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  padding: 10px 0;
}

.user-post-bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin: 0 20px;
}

.user-post-ind-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  background-color: #f8f8f8;
  border-left: 3px solid rgb(245, 135, 135);
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 10px;
}

.user-posts-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-post,
.user-bio {
  width: 100%;
}

.user-post h2 {
  font: normal normal bold 2em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.user-bio h2 {
  font: normal normal bolder 2em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.user-bio p {
  font: normal normal normal 1.3em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.user-posts-licom-counter {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.user-like {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(245, 135, 135);
}

.user-like-text {
  color: #fff;
}

.post-like,
.post-comment {
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-new-index > .bxs-message-add {
  color: #fff;
}

.post-likes-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.user-more-posts {
  text-align: center;
}

.user-more-posts-btn {
  text-align: center;
  margin: 20px 0;
  padding: 10px 5px;
  outline: none;
  border: none;
  box-shadow: 1px 1px 2px #000;
  cursor: pointer;
}

.user-more-posts-btn a {
  color: #fff;
}

.post-new-index {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.post-comment-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post-title-area {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
}

.post-comment-avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.post-text p {
  text-align: justify;
}

.post-text-show p {
  text-align: justify;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.post-body {
  padding: 10px 0;
  width: 100%;
}

.post-see-more {
  align-self: flex-end;
}

button {
  border-radius: 10px;
  background-color: rgb(245, 135, 135);
  font-size: 1em;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  background-color: #fff;
}

.post-see-more button {
  font-size: small;
  border-radius: 10px;
  background-color: rgb(245, 135, 135);
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.post-likes {
  align-self: center;
}

.post-like {
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(245, 135, 135);
  color: #fff;
}

.post-comment {
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(245, 135, 135);
}

.post-form-comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
}

.post-new {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.post-new form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

textarea {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  border-left: 3px solid rgb(245, 135, 135);
  background-color: #f8f8f8;
}

.form-new-title,
.form-new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.form-new-title label {
  align-self: flex-start;
}

.form-new-title .new-title {
  padding: 10px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  border: none;
  border-left: 3px solid rgb(245, 135, 135);
}

.form-new-title .new-title:focus {
  border-left: 3px solid rgb(245, 135, 135);
  border-top: none;
  border-bottom: none;
  outline: none;
}

.form-new-post textarea {
  width: 100%;
  background-color: #f8f8f8;
}

.form-new-post label {
  align-self: flex-start;
}

form .form-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea:focus {
  border-left: 3px solid rgb(245, 135, 135);
  border-top: none;
  border-bottom: none;
  outline: none;
}

.post-like small {
  color: #fff;
}

.post-comment small {
  color: #fff;
}

.intermediate-heading {
  font: normal normal bold 1em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.comment-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.comment-avatar-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flash-msg {
  background-color: rgb(92, 212, 92);
  text-align: right;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.flash-msg p {
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 10px;
}

.form-submit {
  font-size: 1.4em;
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(245, 135, 135);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-submit:hover {
  transform: scale(1.1) rotate(-30deg);
}

.form-submit:active {
  background-color: #fff;
}

.form-submit-comment {
  font-size: 1em;
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(245, 135, 135);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.form-submit-comment:hover {
  transform: scale(1.1);
}

.form-submit-comment:active {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .user-ind-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 20px auto;
  }

  .user-name-post {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
  }

  .user-name {
    font: normal normal bold 1.5em serif, Helvetica, Arial, sans-serif;
  }

  .user-post-bio-wrapper {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 20px auto;
  }

  .post-new {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .post-new form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
  }

  .form-new-title,
  .form-new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 10px;
  }

  .form-new-title label {
    align-self: flex-start;
  }

  .form-new-title .new-title {
    padding: 10px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: none;
    border-left: 3px solid rgb(245, 135, 135);
  }

  .form-new-post textarea {
    width: 100%;
    background-color: #f8f8f8;
  }

  .form-new-post label {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1366px) {
  .user-ind-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    margin: 20px auto;
  }

  .user-post-bio-wrapper {
    width: 40%;
    margin: 20px auto;
  }

  .post-new {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .post-new form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
  }

  .form-new-title,
  .form-new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 10px;
  }

  .form-new-title label {
    align-self: flex-start;
  }

  .form-new-title .new-title {
    padding: 10px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: none;
    border-left: 3px solid rgb(245, 135, 135);
  }

  .form-new-post textarea {
    width: 100%;
    background-color: #f8f8f8;
  }

  .form-new-post label {
    align-self: flex-start;
  }
}
