@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/**  Users  **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  color: rgba(65, 65, 65, 0.719);
}

a {
  text-decoration: none;
  color: rgba(85, 171, 221, 0.719);
}

.user-ind-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin: 10px 20px;
  background-color: #f8f8f8;
  border-left: 3px solid rgba(255, 127, 80, 0.74);
  padding: 10px 10px;
  border-radius: 10px;
}

.user-ind-wrapper figure img {
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.user-name-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 20px;
  width: 90%;
}

.user-name a {
  font: normal normal bolder 1.5em serif, Helvetica, Arial, sans-serif;
  align-self: flex-start;
  align-content: center;
  color: rgb(0, 0, 0);
}

.user-post-counter {
  align-self: flex-end;
}

.user-post-title a {
  font: normal normal bolder 1.5em serif, Helvetica, Arial, sans-serif;
  padding: 5px 0;
  color: rgb(0, 0, 0);
}

.user-post-title-u {
  font: normal normal bolder 1.5em serif, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  padding: 5px 0;
}

.user-post-bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin: 0 20px;
}

.user-post-ind-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  background-color: #f8f8f8;
  border-left: 3px solid rgba(255, 127, 80, 0.74);
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 10px;
}

.user-posts-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-post,
.user-bio {
  width: 100%;
}

.user-post h2 {
  font: normal normal bold 2em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.user-bio h2 {
  font: normal normal bolder 2em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.user-bio p {
  font: normal normal normal 1.3em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.user-posts-licom-counter {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.post-like,
.post-comment {
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-comment > .bxs-comment {
  color: rgba(255, 127, 80, 0.74);
}

.post-likes-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.user-more-posts {
  text-align: center;
}

.user-more-posts-btn {
  text-align: center;
  margin: 20px 0;
  padding: 10px 5px;
  outline: none;
  border: none;
  box-shadow: 1px 1px 2px #000;
  cursor: pointer;
}

.post-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.post-comment-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post-title-area {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
}

.post-comment-avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.post-text p {
  text-align: justify;
}

.post-text-show p {
  text-align: justify;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.post-body {
  padding: 10px 0;
  width: 100%;
}

.post-see-more {
  align-self: flex-end;
}

button {
  border-radius: 10px;
}

.post-see-more button {
  font-size: small;
}

.post-likes {
  align-self: center;
}

.post-like {
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgba(255, 127, 80, 0.74);
  color: #fff;
}

.post-comment {
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgba(255, 127, 80, 0.74);
}

.post-like small {
  color: #fff;
}

.post-comment small {
  color: #fff;
}

.intermediate-heading {
  font: normal normal bold 1em serif, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0;
}

.comment-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.comment-avatar-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flash-msg {
  margin: 10px auto;
  width: 100%;
  color: rgb(92, 212, 92);
  text-align: right;
}

.form-submit {
  font-size: 1.4em;
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: rgba(255, 127, 80, 0.74);
}

@media screen and (min-width: 768px) {
  .user-ind-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 20px auto;
  }

  .user-name-post {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
  }

  .user-name {
    font: normal normal bold 2em serif, Helvetica, Arial, sans-serif;
  }

  .user-post-bio-wrapper {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 20px auto;
  }
}

@media screen and (min-width: 1366px) {
  .user-ind-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    margin: 20px auto;
  }

  .user-post-bio-wrapper {
    width: 40%;
    margin: 20px auto;
  }
}
